@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Roboto", sans-serif; */

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./bilder/red-right-dbf3ede240dcea450fd48e7116aa6424.svg);
}
.kontainer{
    font-family: "Roboto", sans-serif;
    width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #f8f8f8;
}
.kontainer h1{
    text-align: center;
    margin-bottom: 20px;
}
.kontainer p.intro{
    text-align: center;
    margin-bottom: 20px;
}
.kontainer .kolumner-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.kontainer .kolumner-3 .kolumn{
    background-color: #fff;
    border-radius: 20px;
    padding-bottom: 10px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}
.kontainer .kolumner-3 .kolumn:hover{
box-shadow: black 0px 5px 50px;
}
.kontainer .kolumn img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.kontainer .kolumn h2{
    margin: 10px;
    font-size: 19px;
}
.kontainer .kolumn p{
    margin: 10px;
    font-size: 14px;
    color: #555;
}
.kontainer .kolumn a{
    margin: 10px;
}